<p-card header="User Table" [style]="{width: '100%'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">


    </ng-template>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple type="button" label="New" icon="fa fa-plus" (click)="openNew()"
                class="p-button-sm p-button-raised "></button>
            <button [style]="{'margin-left': '5px'}" pButton pRipple type="button" icon="fa fa-trash"
                (click)="deleteSelectedProducts()" [disabled]="!selectedUser || !selectedUser.length"
                class="p-button-sm p-button-raised p-button-danger ml-4"></button>

        </ng-template>

        <ng-template pTemplate="right">
            <div class="flex align-items-center justify-content-between">

                <span class="p-input-icon-left">
                    <i class="fa fa-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target['value'], 'contains')"
                        placeholder="Search..." />
                </span>
            </div>

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="users" [rows]="5" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="stack"
        [(selection)]="selectedUser" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>urlPhoto</th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">LastName <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>

                <td><img [src]="user.urlPhoto" [alt]="user.name" width="100" class="shadow-4" /></td>
                <td>{{user.name}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button pButton pRipple icon="fa fa-pencil"
                        class="p-button-sm  p-button-warning mr-2" (click)="editUser(user)"></button>
                    <button pButton pRipple icon="fa fa-trash" class="p-button-sm p-button-danger"
                        (click)="deleteUser(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{users ? users.length : 0 }} users.
            </div>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">

    </ng-template>
</p-card>
<p-dialog [(visible)]="dialog_show" [style]="{width: '450px'}" header="User Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

    <form #f="ngForm">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input (change)="selectFile(user,$event)" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div *ngIf="!user.urlPhoto">
                        <div *ngIf="imageSrc" class="avatar-preview">
                            <div id="imagePreview" style="background-image: url({{imageSrc}});">
                               
                            </div>
                        </div>
                        <div *ngIf="!imageSrc" class="avatar-preview">
                            <p-progressSpinner *ngIf="loadingImg" [style]="{width: '20px', height: '50px',margin:'auto',position:'absolute'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                            <div id="imagePreview" style="background-image: url(assets/user-profile-placeholder.png);">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="user.urlPhoto" class="avatar-preview">
                        <p-progressSpinner *ngIf="loadingImg" [style]="{width: '20px', height: '50px',margin:'auto',position:'absolute'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                        <div id="imagePreview" style="background-image: url({{user.urlPhoto}});">
                        </div>
                    </div>
                </div>
              
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" name="name" [(ngModel)]="user.name" required autofocus />

            <p-message *ngIf="submitted && !user.name" severity="error" text="Field is required"></p-message>
        </div>
        <div class="field">
            <label for="name">Last name</label>
            <input type="text" name="lastName" pInputText id="name" [(ngModel)]="user.lastName" required autofocus />

            <p-message *ngIf="submitted && !user.lastName" severity="error" text="Field is required"></p-message>
        </div>
        <div class="field">
            <label for="name">Email</label>
            <input type="text" name="email" pInputText id="name" [(ngModel)]="user.email" required autofocus />

            <p-message *ngIf="submitted && !user.email" severity="error" text="Field is required"></p-message>
        </div>
        <div class="field">
            <label for="name">Password</label>
            <input type="text" name="Password" pInputText id="name" [(ngModel)]="user.password" required autofocus />

            <p-message *ngIf="submitted && !user.password" severity="error" text="Field is required"></p-message>
        </div>
        <div *ngIf="loading_save_result" class="loader-wrapper">
            <div class="loader">
            <div class="roller"></div>
            <div class="roller"></div>
          </div>
          
          <div id="loader2" class="loader">
            <div class="roller"></div>
            <div class="roller"></div>
          </div>
          
          <div id="loader3" class="loader">
            <div class="roller"></div>
            <div class="roller"></div>
          </div>
        </div>
    </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button  pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button [disabled]="loading_save_result" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>
