


<body class="align imageBg">


    <div class="grid align__item">
  
      <div class="register">

        <div *ngIf="token_ecpired">
  
          <h3>TOKEN EXPIRED</h3>
          <h5>Please! click the button to go to the login page and retry the proccess</h5>
          <button routerLink="/" class="btn"><i style="margin-right: 5px;" class="fa fa-home"> </i>  Login</button>
        </div>

        <form  *ngIf="!token_ecpired" [formGroup]="form"  class="form">
  
          <div class="form__field">
            <input formControlName="password" type="password" placeholder="password">
            <span class="error" *ngIf="isControlHasError('password','required')">password required</span>
            <span class="error" *ngIf="isControlHasError('password','pattern')">password must have one UPPERCASE</span>
          </div>
         
          <div class="form__field">
            
            <input formControlName="passwordValidation" type="password" placeholder=" password confirmation">
            <span class="error" *ngIf="isControlHasError('passwordValidation','required')">confirm password required</span>
             <span class="error" *ngIf="isControlHasError('passwordValidation','confirmedValidator') && !isControlHasError('passwordValidation','required')">passwords not match</span>
            
          </div>
  
          <div class="form__field">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" *ngIf="loading"></p-progressSpinner>
            <button  *ngIf="!loading" (click)="submit();loading=false" class="animated-button1">
              <span></span>
             
            
              Reset
            </button>
          
          </div> 
          <p> <a routerLink="/" style="cursor: pointer;" ><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> go back to login page?</a></p> 
        </form>
  
  
  <!-- HTML !-->
<!-- HTML !-->




      </div>
  
    </div>
  
  </body>
